body{
    color: white;
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.logo{
    padding-left: 50px;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navbar-items{
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.navbar-items a{
    text-decoration: none;
    color:white;
    transition: color 1s;
    padding-left: 50px;
    font-size: 20px;
}

.navbar-items a:hover{
    color: rgba(0, 128, 0, 0.591);
}

.content video{
    max-width: 90%;
    align-self: center;
}

.content{
    display: flex;
    justify-content: center;
}

.overlay{
    height:200px;
    width: 100%;
    max-width: 100%;
    background-color: black;
}

.photo-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    

}

.photo-content div{
    display: flex;
    justify-content: center;
    background-color: green;
    border: solid 5px red;
}