body{
    color: white;
    background-color: black;
    margin: 0;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    transition: top 0.3s;
}

.logo{
    padding-left: 50px;
    animation: spin 8s linear infinite;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: color 1s;
}

.logo :hover{
    color: darkgreen;
    transition: color 1s;
}

@keyframes spin{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

.navbar-items{
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.navbar-items a{
    text-decoration: none;
    color:white;
    transition: color 1s;
    padding-left: 50px;
    font-size: 20px;
}

.navbar-items a:hover{
    color: rgba(0, 128, 0, 0.591);
}


.content video{
    max-width: 90%;
    align-self: center;
}

.content{
    display: flex;
    justify-content: center;
}

.overlay{
    position: absolute;
    bottom: 4%;
    transform: translateY(100%);
    max-width: 100%;
    background-color: black;
}

.footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.photo-content{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 30px;
    
}

.photo-container{
    position:relative;
    color: white;
    max-width: 100%;
    padding: 50px;
}

.photo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-size: 48px;
}

.photo-container:hover .photo-text{
    visibility: visible;
}

.photo-content img{
    max-width: 100%;
}

.photo-content img:hover{
    opacity: 0.5;
}

.photography-format{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 30px;
}

.photography-format img{
    max-width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-items{
        
        display: none;
        padding-right: 50px;
        align-items: center;
    }

    .overlay{
        position: absolute;
        bottom: 70%;
        font-size: 8px;
        transform: translateY(100%);
        max-width: 100%;
        background-color: black;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}